
.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  z-index: 1000;

  background-color: rgba(0, 0, 0, 0.3);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  width: 320px;
  height: auto;

  border-radius: 20px;
  padding: 20px;

  background-color: white;

  &__spinner {
    position: absolute;
    justify-content: center;
    align-items: center;
  }
}